<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="stylesheet" href="/static/css/view.css">
    <link rel="stylesheet" href="{{url_for('static',filename='view.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="content">
            <h1>View</h1>
            <div>
                <a href="/dashboard" class="btn">Back</a>
            </div>
        </div>
    </header>
    <hr>
    <main>
        <div id="image">
            <img src="{{listing_info.imgURL}}" alt="house">
        </div>
        <div id="info">
            <h2>Listed by: {{listing_info.listingOwner.firstName}} {{listing_info.listingOwner.lastName}}</h2> <!-- Having trouble linking first/last name to jinja here. -->
            <p>{{listing_info.description}}</p>
            <p id="price">Price : ${{listing_info.listPrice}}</p>
        </div>
    </main>
</body>
</html>